Ben van Staveren <madcat@cpan.org> <ben@blockstackers.net>
Ben van Staveren <madcat@cpan.org> <benvanstaveren@gmail.com>
Ben van Staveren <madcat@cpan.org> <ben@xirinet.com>
Ben van Staveren <madcat@cpan.org>
Doug Bell <preaction@cpan.org> <madcityzen@gmail.com>
Hernan Lopes <hernan@cpan.org> <hernanlopes@gmail.com>
José Joaquín Atria <jjatria@gmail.com>
Jose Joaquin Atria <jjatria@cpan.org> <jjatria@gmail.com>
Kartik Thakore <kthakore@cpan.org> <kthakore@aimed.cc>
Karpich Dmitry <meettya@cpan.org> <meettya@gmail.com>
Roman F. <romanf@cpan.org> <moltar@moltar.net>
Terrence Brannon <tbone@cpan.org> <metaperl@gmail.com>
Edward Wildgoose <cpan@wildgooses.com> <git@wildgooses.com>
